.header {
  background: var(--gray-700);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12.5rem;
}

.header>img {
  width: 2rem;
  cursor: pointer;
}

.header>div {
  cursor: pointer;
  display: flex;
  margin-left: 1rem;
}

.to {
  color: var(--blue);
  font-weight: 700;
  font-size: 3rem;
}

.do {
  color: var(--purple-dark);
  font-weight: 700;
  font-size: 3rem;
}
