.createTask {
  display: flex;
  margin-top: -2rem;
}

.createTask > textarea {
  width: 80%;
  padding: 1rem 0 0 1rem;
  resize: none;

  background: var(--gray-500);
  font-size: 1rem;
  color: var(--gray-300);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
}

.createTask > textarea:focus {
  outline: none;
  border: 1px solid var(--purple-dark);
  color: var(--gray-100);
}

.createTask > button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex: 1;
  margin-left: 0.5rem;
  width: 3rem;
  padding: 0.3rem;

  border: none;
  border-radius: 8px;
  background: var(--blue-dark);
  color: var(--gray-100);
  font-size: 1rem;

  cursor: pointer;
  transition: background-color 0.2s;
}

.createTask > button:hover {
  background: var(--blue);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 4.125rem;
  height: 2.7rem;
  margin-bottom: 2.5rem;
}

.taskCreatedNumber {
  display: flex;
  color: var(--blue);
  font-weight: 700;
}

.taskCompletedNumber {
  color: var(--purple);
  display: flex;
  font-weight: 700;
}

.spanNumber{
  display: flex;
  height: 1.3rem;
  min-width: 2rem;
  padding: 0 8px;
  justify-content: center;
  font-weight: 400;
  font-size: 1rem;
  
  margin-left: 0.5rem;
  border-radius: 10px;
  background: var(--gray-400);
  color: var(--gray-200);
}

.tasklist {
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  margin-top: -2.5rem;
  
  color: var(--gray-300);
}

.tasklist > strong {
  margin-top: 10px;
}
